@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.section {
  padding: 0;
  }
  .container {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .image {
    height: auto !important;
  }
  input[type="file"] {
    display: none;
  }
  .bottom-right-button-container {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 999;
  }
  .no-pad-button {
  padding: 0;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  padding-top: 2em;
  padding-bottom: 1.9em;
  }
  .nav-left {
  padding-left: 0.5em;
  padding-bottom: 1em;
  padding-top: 0.4em;
  justify-content: left;
  flex-grow: 0;
  position: absolute;
  left: 1%;
  top: 1%;
  color:black;
  
  }
  .top-search {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  margin: auto;
  width: 75vw;
  }

  .activate-buttton {
  display: inline;
  position: relative;

  }

  .delete {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  }

  .activate-buttton:hover .delete {
  display: block;

  }
  .delete-btn {
    background: none;
    border: none;
    padding: 0px;

  }
  .overlay{
  position:fixed;
  display:none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  }
  .overlay-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  }
.top-nav {
  position: fixed;
}
.navbar-item {
  display: inline-flex;
}
