<!DOCTYPE html>
<html style="background-color: #f6f4f1;">
<head>
  <title>Searchable Photo Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://kit.fontawesome.com/3197ac8a0a.js" crossorigin="anonymous"></script>
</head>

<body class="has-navbar-fixed-top">

  <nav class="navbar is-flex is-transparent is-fixed-top" style="align-items: center;">
        <a class="navbar-item" href="/">
          <span class="icon is-small">
            <i class="fa fa-home" aria-hidden="true"></i>
          </span>
        </a>

      <div class="top-search navbar-item">
        <form class="field" style="width: 100%;" autocomplete="off" method="GET" action="/search" enctype="application/x-www-form-urlencoded">
          <div class="field has-addons" style="justify-content: center;">
            <div class="control">
              <input class="input is-rounded" id="search" type="search" name="search" placeholder="search">
            </div>
            <div class="control">
              <input class="button is-rounded is-black" type="submit" value="search">
            </div>
          </div>
        </form>
      </div>

        <div class="navbar-item">
          <a href="https://github.com/HDWilliams/imgcap"><i class="fa fa-brands fa-github"></i></a>
        </div>
  </nav>

  <div class="overlay" id="overlay-upload">
    <div class="overlay-message">Uploading image as fast as we can. Please wait...</div>
  </div>
  <div class="overlay" id="overlay-delete">
    <div class="overlay-message">Deleting image. Please wait...</div>
  </div>
  <form method="POST" action="/upload" enctype="multipart/form-data" class="bottom-right-button-container">
    <label for="file-upload" class="button no-pad-button is-rounded is-black is-normal"> <i class="fa-solid fa-plus is-white"></i></label>
    <input id="file-upload" type="file" accept=".jpg, .png" name="image"> 
  </form>

  <section class="section" style="margin-top: 7%;">
    <div class="container">
      <div class="columns is-multiline">
        {% for image in images %}
          <div class="column is-half-desktop is-full-mobile is-half">
            <div class="activate-buttton">
              <figure class="image">
                <img src="{{ image.img_uri }}" alt="Image">
              </figure>
              <button id="{{ image.id }}" url="{{ url_for('delete', image_id = image.id)}}" class="delete delete-btn" type="submit"></button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</html>  